@charset "UTF-8";
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #D7D9D8 }


    h1{
    color: #0D0000;
   text-decoration: underline;
   text-align: center;
    }
    h2{
     color: #212026; 
     text-decoration: underline;
     text-align: center;
    }
    h3{
     color: #525759; 
    }
    p{
    color: #737065; 
    text-indent: 50px;
    
    }
    .secundario{
text-decoration: underline;

    }
     .treinamento{

    text-indent: 50px;
    font-weight: 900; 
    color: black;   

     }
     h4{
       text-decoration: underline; 
     }
     h3 {
        text-decoration:underline rgb(131, 109, 109)
         }
         .destaque:hover{
          color: #8065fa;
          text-decoration: underline
        
         }
        
        

         
